<h1>Login</h1>

<% form_tag(:controller => 'sessions', :action => 'create') do %>
  <p>
    <label for="password">Password: </label>
    <%= password_field_tag %>
  </p>
  <p>
    <%= submit_tag 'Login' %>
  </p>
<% end %>
