
<div id="picture">
  <% if @device.picture -%>
    <%= image_tag(@device.picture.public_filename) %>
  <% else -%>
    <%= @device.name %>
  <% end -%>
</div>

<div id="hmi">
  <%= render :partial => 'hmi' %>
</div>
