=form_for @device, :html => {:class => "well", :multipart => true, :role => 'form' } do |f|
  %h3 New device
  %p Add the details of the device

  - if @device.errors.any?
    .alert.alert-error
      %h4.alert-heading Error(s)!
      - @device.errors.full_messages.each do |msg|
        %p= msg 

  .form-group
    =f.label :name, 'Company Name'
    =f.text_field :name, class: 'form-control'

  .form-group
    =f.label :url, 'The URL for the MTConnect Agent. Should include Device name as well. For example: http://example.com/MyDevice'
    =f.text_field :url, class: 'form-control'

  .form-group
    =f.label :enabled
    =f.check_box :enabled

  .form-group
    =f.label :description
    =f.text_area :description, :class => 'form-control', :rows => 20

  .form-group
    =f.label :location
    = 'Booth Location or Company Locations <City>, <State/Country>'    
    %br
    =f.text_area :location, :class => 'form-control'

  .form-group
    =f.label :logo
    %br
    The logo will be resized to fit 270 wide by 130 high for the large image. A smaller
    image will be generated for the main page off of the same image.  The image will 
    be scaled and the aspect ratio preserved.
    %br
    =f.file_field :logo
    =f.hidden_field :logo_cache

  .form-group
    =f.label :picture
    %br
    The logo will be resized to fit 545 wide by 420 high. The image will 
    be scaled and the aspect ratio preserved.
    %br  
    =f.file_field :picture
    =f.hidden_field :picture_cache

  .form-group
    =f.label :on_time, 'Hour production starts (CDT for show)'
    =f.select :on_time, [6, 7, 8, 9, 10, 11, 12]
    %br  
    =f.label :off_time, 'Hour production stops (CDT for show)'
    =f.select :off_time, [15, 16, 17, 18, 19, 20, 21, 22, 23]

  %br
  =f.submit
