#device
  #device-heading
    #device-logo
      -if @device.logo?
        =image_tag @device.logo.button.url 
      -else
        =@device.name
    #device-description
      %p.text
        =raw @device.description
      %p.location
        %span=@device.location
  .border
  #device-detail
    .device-picture
      -if @device.picture?
        =image_tag @device.picture.display.url 
      -else
        No Picture
    .hmi{'data-id' => dom_id(@device)}
      =render "hmi"
      
#device-tabs  
  %ul.nav.nav-tabs
    -if @device.show_utilization?
      %li
        %a{"data-toggle" => "tab", :href => "#utilization"} Utilization
    -if @device.has_cutting_tool?
      %li
        %a{"data-toggle" => "tab", :href => "#cutting_tool"} Cutting Tool 
    -if @device.has_quality_report?
      %li
        %a{"data-toggle" => "tab", :href => "#quality_report"} Quality Report
  .tab-content
    -if @device.show_utilization?
      .tab-pane.fade#utilization
        =render "utilization"
        
    -if @device.has_cutting_tool?
      .tab-pane.fade#cutting_tool
        .tools
          =render "tools"

    -if @device.has_quality_report?
      .tab-pane.fade#quality_report
        .quality
          %h2
            A representation of a QIF Statistics report

          %iframe{"src" => @device.format_quality_report(@device.quality_report)}
