
body {
    background: black;
    padding: 0;
    margin: 0;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

div,p,tr,td,table {
	padding: 0; margin: 0;
}

a {
	outline: none;
}

#return {
	text-indent: -5000px;
	display: block;
	height: 43px;
	width: 302px;
	position: absolute;
	top: 30px;
	left: 610px;
}

#welcome {
    background: url(/images/devices.jpg) no-repeat;
    padding: 0;
    margin: 0;
    height: 755px;
}

#welcome a.new {
    background: white;
    position: absolute;
    top: 730px;
    left: 400px;
}

#device, #application {
    padding: 0;
    margin: 0;
    height: 755px;
}

#device {
    background: url(/images/machine.jpg) no-repeat;
}

#application {
    background: url(/images/application.jpg) no-repeat;
}

#container {
    position: absolute;
    left: 60px;
    top: 112px;
    height: 560px;
    width: 925px;
}

#container {
    position: relative;
}

#container div.item {
	background: url(/images/active.png) no-repeat;
    height: 110px;
    width: 185px;
    text-align: center;
    overflow: hidden;
    float: left;
}

#container div.item a.dev_link {
    display: block;
    width: 177px;
    height: 101px;
    overflow: hidden;
    position: relative;
}

#container a.dev_link img {
    border: none;
}

#container a.oper {
}

#container a.oper img{
    height: 17px;
    width: 16px;
}

#separator {
	background: url(/images/applications.png) no-repeat;
	clear: both;
	text-indent: -5000px;
	height: 100px;
	width: 1024px;
	position: relative;
	left: -60px;
}

#logo {
	position: absolute;
	overflow: hidden;
	top: 145px;
	left: 68px;
	width: 275px;
	text-align: center;
}

#logo img {
}

#picture {
	position: absolute;
	top: 320px;
	left: 81px;
	width: 540px;
	overflow: hidden;
	text-align: center;
}

#picture img {
}

#info {
	position: absolute;
	top: 142px;
	left: 388px;
	height: 90px;
	width: 580px;
	overflow: auto;
}

#booth {
	position: absolute;
	top: 260px;
	left: 383px;
	color: #006ca1;
	font-size: 18px;
}

#hmi {
	position: absolute;
	top: 285px;
	left: 677px;
	width: 305px;
	height: 380px;
	overflow: auto;
}

#application iframe {
    position: absolute;
    top: 310px;
    left: 75px;
    width: 895px;
    height: 350px;
}

#hmi tr.title td {
  border-bottom: 2px solid black;
  padding-top: 1em;
  font-size: 120%;
  font-weight: bold;
}

#hmi td.label {
  padding-right: 1em;
  font-weight: bold;
}

.center {
  text-align: center;
  padding: 0em 1em;
}

.number {
  text-align: right;
}

#hmi p {
  padding: 0;
  margin: 0;
}

#hmi table {
  font-size: 80%;
}

form {
    background: white;
}

a#powered-by {
	position: absolute;
	top: 700px;
	left: 870px;
    display: block;
}

a#mtconnect {
    text-indent: -5000px;    
    display: block;
    position: absolute;
    top: 22px;
    left: 114px;
    height: 58px;
    width: 290px;
}