=nested_form_for @app, :html => {:class => "well", :multipart => true} do |f|
  %h3 New Application 
  %p Add the details of the application 

  - if @app.errors.any?
    .alert.alert-error
      %h4.alert-heading Error(s)!
      - @app.errors.full_messages.each do |msg|
        %p= msg

  .form-group
    =f.label :name, 'Company Name'
    =f.text_field :name, class: 'form-control'

  .form-group
    =f.label :url, 'URL for your application'
    Your app will be displayed in separate frame.
    %br
    =f.text_field :url, class: 'form-control'

  .form-group
    =f.label :enabled
    =f.check_box :enabled

  .form-group
    =f.label :description
    =f.text_area :description, class: 'form-control'

  .form-group
    =f.label :location
    %br
    = 'Booth Location or Company Locations <City>, <State/Country>'
    %br
    =f.text_field :location


  .form-group
    =f.label :logo
    %br
    The logo will be resized to fit 270 wide by 130 high for the large image. A smaller
    image will be generated for the main page off of the same image.  The image will 
    be scaled and the aspect ratio preserved.
    %br
    =f.file_field :logo

  %h3 Pictures
  Pictures will be resized to a maximum of 960 wide by 400 high. If necessary they will be 
  scaled and the aspect ratio will be preserved. 
  
  .form-group
    =f.fields_for :app_pictures do |app_picture_fields|
      =app_picture_fields.label :file, "New Picture: "
      =app_picture_fields.file_field :file, class: 'picture-field'
      %br
      =app_picture_fields.link_to_remove "Remove Picture"
      %br.clear
    %br
    =f.link_to_add "Add picture", :app_pictures
  
  %br
  %br
  
  =f.submit 
